
form{ 
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #00fff2;
    border: 1px solid #00fff2;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 10%;
    border:1px solid black;
}

  /* Contenedor del rectángulo */
  .rectangulo {
    display: flex;                 /* Alinea los elementos en una fila */
    align-items: center;           /* Centra verticalmente la imagen y el texto */
    background-color: #f4f4f4;     /* Color de fondo del rectángulo */
    border-radius: 10px;           /* Bordes redondeados */
    padding: 20px;                 /* Espacio interno alrededor del contenido */
    width: 95%;                    /* Ancho del rectángulo */
    max-width: 150%;              /* Ancho máximo del rectángulo */    
    margin-left: 1%;
    margin-top: 5%;
    margin-bottom:10%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */
}

/* Estilo para la imagen dentro del rectángulo */
.rectangulo img {
    width: 150px;                  /* Ancho de la imagen */
    height: auto;                  /* Mantiene la proporción de la imagen */
    margin-right: 20px;            /* Espacio entre la imagen y el texto */
    border-radius: 5px;            /* Bordes redondeados para la imagen */
}

/* Estilo para el contenedor de texto */
.texto {
    font-size: 1.1em;              /* Tamaño del texto */
    color: #333;                   /* Color del texto */
    line-height: 1.5;              /* Altura de línea para mejorar la legibilidad */
}
body{
    background-color:burlywood;
}
footer{
    background-color: chocolate;
    clear:both;
    width:95%; 
    padding:2%;
    position: fixed;
    bottom: 0%;
}
.ubi{
    width: 2%;
}    
.Etiquetas {
    padding-left: 2%;
}
nav{
    background-color: chocolate;
    font-size: 200%;  
}

nav a{
    color: white;
    text-shadow: 2px 2px 2px; /*Sombreado del texto*/
    text-decoration: none;
}

nav ul li{
    display: inline; /*Juntarlos en una linea y no uno encima del otro*/
}

ul {
  overflow: hidden;
}
   
li {
  float: left;
  margin-left: 7%;
  padding: 16px;
}

li a:hover { /*hover=al pasar el ratón se visualiza una caja*/
  background-color:black;
}

header {
    background-color: chocolate;
    width: 98%; /*width de 98 debido a que padding por cada lado 1% en total 100%*/
    margin: auto; /*auto para centrar*/
    padding: 1%;
    margin-bottom: 14px;
}
header h1 {
    color: black;
    font-size: 300%;  
}